#menuClick {
    margin: 0;
    padding: 0;
}

#wrapper {
  margin: 0;
  padding: 0;
}
#WrapperMainStuctures {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 79px 413px 116px;
    grid-template-areas: 
        ". h h h h h h h h h ."
        ". s s s s c c c c c ."
        ". f f f f f f f f f ."; 
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;        
}

#mainWrapper {
    display: grid;
    
    
}
#clonMainWrapper {
    display: grid;
    margin-left: 95%;
    margin-right: 30%;
    height: 786%;
    width: 890%;
    border: 4px solid #241b50;
    border-radius: 20px;
    margin-top: -5px;
    margin-bottom: -3px;
}

#menuClick {
    display: grid;
    position: fixed;
    text-align: center;
    border: 3px solid rgb(50, 124, 124);
    background: #333;
    min-height: 97%;
    min-width: 7%;
    margin-bottom: -6%;
    border-radius: 5px;
    align-items: center;
}
#menuClick:hover {
    display: grid;
    background: #223;
}

#header {
    display: grid;   
    grid-area: h;
}
#mainHeader {
    display: grid;
    border-radius: 20px;
    background: #444;
}

#content {
    display: grid;
    grid-area: c;
}
#mainContent {
    display: grid;
    border-radius: 20px;
    background: #333;
}

#sidebar {
    display: grid;
    grid-area: s;
}
#mainSidebar {
    display: grid;
    border-radius: 20px;
    background: #333;
}

#footer {
    display: grid;
    grid-area: f;
}
#mainFooter {
    display: grid;
    border-radius: 20px;
    background: #222;
}