#menuClick {
    margin: 0;
    padding: 0;
}

#wrapper {
  margin: 0;
  padding: 0;
}
#WrapperMainStuctures {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 79px 413px 116px;
    grid-template-areas: 
        ". h h h h h h h h h ."
        ". s s s s c c c c c ."
        ". f f f f f f f f f ."; 
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;        
}

#mainWrapper {
    display: grid;   
}
#clonMainWrapper {
    display: grid;
    margin-left: 98%;
    height: 786%;
    width: 954%;
    border: 4px solid #241b50;
    border-radius: 20px;
    margin-top: -5px;
    margin-bottom: -3px;
}
#colonMainWrapper:hover {
    color: #2a2731;
}

#menuClick {
    display: grid;
    position: fixed;
    text-align: center;
    border: 3px solid rgb(50, 124, 124);
    background: #333;
    height: 97%;
    width: 7%;
    margin-bottom: -6%;
    border-radius: 5px;
    align-items: center;
}

#menuClick:hover {
    display: grid;
    background: #223;
}

#header {
    display: grid;   
    grid-area: h;
}
#mainHeader {
    display: grid;
    opacity: 0.7;
    border-radius: 20px;
    background: #444;         
}

#content {
    display: grid;
    grid-area: c;
}
#mainContent {
    display: grid;
    opacity: 0.7;
    border-radius: 20px;
    background: #333;
}

#textHeader {
    display: flex;
    justify-content: center;
    text-align: center;
}

#textHeader h1 {
    display: flex;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 0 rgb(75, 100, 4);
    color: transparent;
    animation: shadows 5s infinite ease-in;
}
@keyframes shadows {
    60% {
    text-shadow: 0 0 0 rgb(117, 177, 5);
   } 
    90% {
        text-shadow: 0 30px 40px transparent; 
    }
    100% {
        text-shadow: 0 0 0 transparent;
    }
}



#sidebar {
    display: grid;
    grid-area: s;
}
#mainSidebar {
    display: grid;
    opacity: 0.7;
    border-radius: 20px;
    background: #333;
    z-index: -2;
}
#mainSidebar img {
    display: grid;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    border: 3px solid #1a1947;
    border-radius: 10px;  
}
#mainSidebar img:hover {
    border: 3px solid #3a3979;
    opacity: 1;
}



#footer {
    display: grid;
    grid-area: f;
}
#mainFooter {
    display: grid;
    opacity: 0.7;
    border-radius: 20px;
    background: #222;
}